//= require jquery-ui/core
//= require font-awesome
//= require jquery.fileupload
//= require jquery.fileupload-ui

@import 'bootstrap-sprockets';
@import 'bootstrap';

html,
body,
.container {
  height: 95%;
}

.nowrap {
  white-space: nowrap;
}

.dropzone {
  background-color: #efefef;
  border: 2px solid silver;
  display: block;
  padding: 50px;
  text-align: center;
}
